<section class="main-section center-container">

    <h3>Votre Facture</h3>
    <div class="card-view">
        <div *ngFor="let order of (billSubject$ | async)?.orders" class="order-item">
            {{order.amount}} {{order.name}} {{order.isImported ? 'importé' : ''}} à {{order.pht | currency:'EUR'}}
            : {{order.pttc | currency:'EUR'}}
        </div>
        <hr>

        <div id="tax_amount" class="result-info">Montant des taxes : {{(billSubject$ | async)?.taxAmount | currency:'EUR'}}</div>
        <div id="total_amount" class="result-info">Total : {{(billSubject$ | async)?.total | currency:'EUR'}}</div>

    </div>
    <button class="primary-btn" (click)="printBill()">Télécharger la facture</button>
</section>